body {
    background-color: #04A466;
    border: 0px solid #333;
    transition: all 0.3s;
    padding: 80px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.main-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    border-style: solid;
    border-width: 0;
    border-color: #333;
    transition: border-width 0.3s;
}

.menu-open {
    border-width: 20px 20px 20px 90px;
    height: 100%;
}

.menu-close {
    transition: border-width 0.3s, height 0s 0.3s;
}

.menu-icon {
    width: 50px;
    position: fixed;
    top: 20px;
    left: 26px;
    cursor: pointer;
}

.menu-bar {
    height: 4px;
    background-color: #fff;
    width: 100%;
    display: block;
    opacity: 1;
}

.menu-bar:first-child {
    margin-bottom: 7px;
    transition: all 0.3s;
    transform-origin: center left;
}

.menu-bar:last-child {
    margin-top: 7px;
    transition: all 0.3s;
    transform-origin: center left;
}

.menu-bar:nth-child(2) {
    transition: all 0.3s;
}

.menu-open .menu-bar:first-child {
    transform: rotate(45deg);
    transform-origin: center left;
}

.menu-open .menu-bar:last-child {
    transform: rotate(-45deg);
    margin-top: 20px;
    transform-origin: center left;
}

.menu-open .menu-bar:nth-child(2) {
    opacity: 0;
}



.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

div.fade-in {
    -webkit-animation: fade-in 5s;
    animation: fade-in 0.3s;
    opacity: 1;
}
div.fade-out {
    -webkit-animation: fade-out 5s;
    animation: fade-out 0.3s;
    opacity: 1;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fade-out {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fade-out {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
