body {
  background: #ff0084;
  background: -webkit-linear-gradient(to left, #ff0084, #33001b);
  background: linear-gradient(to left, #ff0084, #33001b);
  border: 0px solid #333;
  transition: all 0.3s;
  padding: 50px 30px 0 30px;
  font-family: 'Open Sans Condensed', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.mobile-names {
  display: none;
}

.main-menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 0;
  border-style: solid;
  border-width: 0;
  border-color: #EEEEEE;
  transition: border-width 0.3s;
}

.menu-open {
  border-width: 20px 20px 20px 90px;
  height: 100%;
}

.menu-close {
  transition: border-width 0.3s, height 0s 0.3s;
}

.menu-icon {
  width: 50px;
  position: fixed;
  top: 20px;
  left: 26px;
  cursor: pointer;
}

.menu-bar {
  height: 4px;
  background-color: #fff;
  width: 100%;
  display: block;
  opacity: 1;
  transition: color 0.3s;
}

.menu-open .menu-bar {
  background-color: #000;
  transition: color 0.3s;
}

.menu-bar:first-child {
  margin-bottom: 7px;
  transition: all 0.3s;
  transform-origin: center left;
}

.menu-bar:last-child {
  margin-top: 7px;
  transition: all 0.3s;
  transform-origin: center left;
}

.menu-bar:nth-child(2) {
  transition: all 0.3s;
}

.menu-open .menu-bar:first-child {
  transform: rotate(45deg);
  transform-origin: center left;
}

.menu-open .menu-bar:last-child {
  transform: rotate(-45deg);
  margin-top: 20px;
  transform-origin: center left;
}

.menu-open .menu-bar:nth-child(2) {
  opacity: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

div.fade-in {
  -webkit-animation: fade-in 5s;
  animation: fade-in 0.3s;
  opacity: 1;
}

div.fade-out {
  -webkit-animation: fade-out 5s;
  animation: fade-out 0.3s;
  opacity: 1;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes fade-out {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}


/*MENU ITEMS*/

.menu-items {
  list-style: none;
  top: 43%;
  transform: translateY(-50%);
  left: -80px;
  position: fixed;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}

.menu-open .menu-items {
  opacity: 1;
  transition: opacity 0.5s;
}

.menu-item {
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 0.3s, color 0.3s;
  font-size: 44px;
  color: #ff0084;
  cursor: pointer;
}

.menu-open .menu-item:first-child {
  transform: translate(155%, -350%);
}

.menu-open .menu-item:nth-child(2) {
  transform: translate(155%, -175%);
}

.menu-open .menu-item:nth-child(3) {
  transform: translate(155%, 0%);
}

.menu-open .menu-item:nth-child(4) {
  transform: translate(155%, 175%);
}

.menu-open .menu-item:nth-child(5) {
  transform: translate(155%, 350%);
}

.menu-item:hover {
  color: #000;
  transition: color 0.3s;
}

.menu-item a {
  text-decoration: none;
  color: inherit;
}

.menu-item a:hover {
  color: inherit;
}


/*CONTENT*/

.content {
  width: 100%;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}

footer {
  color: #fff;
}

.effect-container {
  position: relative;
  width: 30%;
  display: block;
  margin: 100px auto 0 auto;
  padding: 20px 0;
}

.link a {
  text-decoration: none;
  color: #fff;
}

.link a span:first-child {
  font-size: 20px;
}

.link a::before,
.link a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  opacity: 0.2;
  transition: opacity 0.3s, height 0.3s;
}

.link a::after {
  top: 100%;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateY(-10px);
}

.link a span:last-child {
  display: block;
  padding: 40px 0 0 30px;
  color: #fff;
  text-shadow: none;
  text-transform: none;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateY(-100%);
}

.link a:hover::before,
.link a:focus::before {
  height: 6px;
}

.link a:hover::before,
.link a:hover::after,
.link a:focus::before,
.link a:focus::after {
  opacity: 1;
  transform: translateY(0px);
}

.link a:hover span:last-child,
.link a:focus span:last-child {
  opacity: 1;
  transform: translateY(0%);
}

@media all and (max-height: 530px) {
  .menu-item {
    font-size: 36px;
  }
  .link a span:last-child {
    display: none;
  }
  .mobile-names {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .effect-container {
    width: 70%;
  }
}
